<div class="viewer-table-wrapper viewer-wrapper" data-viewer="{{ uuid }}" data-items-per-load="{{ settings.items_per_load }}">

  {% if title %}<h3 class="viewer-hidden">{{ title }}</h3>{% endif %}
  {% if subtitle %}<h4 class="viewer-hidden">{{ subtitle }}</h4>{% endif %}

  {% if header_summary %}<div class="viewer-header-summary viewer-hidden">{{ header_summary }}</div>{% endif %}

  {% if last_import_position in ['header', 'both'] %}
    <div class="last-import-header viewer-hidden">{{ last_import_output }}</div>
  {% endif %}

  <table class="viewer-table"><thead></thead><tbody></tbody></table>
  {% if settings.show_all == false %}
    <div class="viewer-table-load-more"><a class="viewer-load-more styled hidden" href="#">{{ settings.load_more_label }} <i class="arrow arrow-down"></i></a></div>
  {% endif %}

  {% if footer_summary %}<div class="viewer-footer-summary viewer-hidden">{{ footer_summary }}</div>{% endif %}

  {% if last_import_position in ['footer', 'both'] %}
    <div class="last-import-footer viewer-hidden">{{ last_import_output }}</div>
  {% endif %}

</div>
